{% extends 'layout.html' %}

{% block body %}

<p>This website is built around xraylib, an ANSI-C library that provides access to compiled physical data on xray-matter interactions. The library comes with bindings to support lots of languages including such as Python, Perl, Fortran, PHP and others. For information on the library itself, have a look at the <a href="#">GitHub repository</a>. </p>
  
<p>This interface will allow you to make simple queries from the database as well as plot graphs of cross section data. By using the <a href="#"> online manual</a> you will be  able to integrate similar queries into your applications using one of the bindings available. For further reference this interface also generates examples of code of requested bindings. </p>

<p>xraylib is the result of an ongoing research collaboration between the <a href="http://www.esrf.eu/">European Synchrotron Radiation Facility (Grenoble, France)</a>, <a href="https://www.ugent.be/">Ghent University (Flanders, Belgium)</a> and <a href="https://www.uniss.it/">the University of Sassari (Sardinia, Italy)</a>.</p>

<p> When using this website, or xraylib itself, please cite <a href="https://www.sciencedirect.com/science/article/pii/S0584854711001984?via%3Dihub">our work</a> in your publications. </p>  
{% endblock body%}
