{% extends 'layout.html' %}

{% block body %}

<form 
  class="form-horizontal" 
  method = "POST" 
  action = "">
     <fieldset class = "form-group">
        <div class = "form-group">
           {{ form.int_z.label }} :
           {% if int_z %} 
                <input 
                        type = "text"
                        name = "int_z"
                        value = {{ int_z }}> 
                        <br>
           {% else %}
                <input 
                        type = "text" 
                        name = "int_z"> 
                        <br>
           {% endif %}
                <input 
                        type = "submit" 
                        value = "Submit">
                        <br>
        </div>
     </fieldset>
</form>

{% endblock body%}

