{% extends 'layout.html' %}
<head>
</head>
{% block body %}
<h1> Xraylib App </h1>
  <form>  
    <div 
        class="form-group"
        method="POST"
        action="">
      <label for="request"> Choose function:
      </label>
      <select
        id="function">        
        <option id="atmw">Atomic Weight</option>
        <option id="rff">Rayleigh Form Factor</option>
      </select>
    </div>
  </form>  
  <br>
  <form 
    class="form-horizontal" 
    method = "POST" 
    action = "">
     <fieldset class = "form-group">
        <div class = "form-group" id = "atm_num">
           <label>{{ form.int_z.label }} :</label>
           {% if int_z %} 
                <input 
                        type = "text"
                        name = "int_z"
                        onfocus="this.value=''"
                        value = {{ int_z }}> 
                        <br>
           {% else %}
                <input 
                        type = "text" 
                        name = "int_z"> 
                        <br>
           {% endif %}
        </div>   
        <div class = "form-group" id = "momentum">
           <label>{{ form.float_q.label }} :</label>
           {% if float_q %} 
                <input 
                        type = "text" 
                        name = "float_q" 
                        onfocus="this.value=''"
                        value = {{ float_q }}>
                        <br>
           {% else %}
                <input 
                        type = "text" 
                        name = "float_q"> 
                        <br>
           {% endif %}
        </div>
        <input 
                        type = "submit" 
                        value = "Submit">
                        <br>
     </fieldset>
  </form>
  
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>

<script>

$(document).ready(function(){
        $("#atmw").click(function(){
                $("#atm_num").fadeIn();
                $("#momentum").fadeOut();
                });
        $("#rff").click(function(){
                $("#atm_num").fadeIn();
                $("#momentum").fadeIn();
                });        
});

window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
        alert("jQuery works! Believe in yourself :)");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
} 
</script>

<script
        
        type="text/js"
        href="{{url_for('static', filename='main.js')}}">
        </script>
{% endblock body%}
