{% extends 'layout.html' %}
<head>
</head>
{% block body %}
<h1> Xraylib App </h1>
  
  <form method="POST" action="">  
    <div class="form-group">
      <label for="request"> Choose function: </label>
      <select name="select_input">  
            {% for choices in function_form.function  %}
                {{choices}}
                {{choices.id}}
            {% endfor %}
      </select>
    </div>
    <br>
  
    <fieldset class = "form-group">
       {% for field in form %}
            <div class = "form-group xlib" id = "{{field.id}}">
                <label>{{field.label}}: </label>
                <input 
                type = "text" 
                name = "{{field.id}}"  
                value = "{{field.value}}" 
                onfocus="this.value=''"> 
                <br>
            </div>    
       {% endfor %}
       <p></p>
       <input 
            type = "submit" 
            value = "submit">
        <br>
     </fieldset>
  </form>
  
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>

<script
    src="{{url_for('static', filename='main.js')}}">
</script>

{% endblock body %}

