<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>Flask App - {{ title }}</title>
    {% else %}
      <title>Flask App</title>
    {% endif %}
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='style.css')}}"/>
  </head>
  
  <body>
    {% include 'includes/_navbar.html' %}
     <div class="container">
       <div class="jumbotron text-center"> 
       <h1></h1>
       {% block header %}
       {% if title %}
         <h1> {{ title }} </h1>
       {% endif %}    
       {% endblock %}
       
       {% block body %}
          {% block form1 %}  
            {% for function in function_form  %}
            <option id={{"function"}} value={{"function"}}>
            {{function.label}}
            </option>
            {% else %}
            {% endfor %}
          {% endblock form1 %}
          {% block form2 %}
          {% endblock form2 %}
       {% endblock body %}
       
       {% if output %}
       <h2> Result: </h2>
       {{ output }}
       {% endif %}
       
       {% if error %}
       {{error}}
       {% endif %}
       </div>
     </div>
      
  <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>
  <!--put in java and jQuery here?-->
  </body>
</html>

