{% extends 'layout.html' %}

{% block body %}
    <form method="POST" action="">  
    <fieldset class = "form-group">
        {% for field in form %}
            {% if field.id == 'variables' %}
                <div class = "form-group" id = "{{field.id}}">
                    {{field.label}}:
                    {{field}}
                </div>
            {% elif field.id != 'csrf_token' %}
                <div class = "form-group xlib" id = "{{field.id}}">
                    {{field.label}}:
                    {{field}}
                </div>          
            {% endif %}
        {% endfor %}    
    <input 
            type = "submit" 
            value = "Submit"
            formnovalidate>
    </fieldset>
    </form>
{% if request.method == 'POST'%}
    <img src="data:image/png;base64,{{plot}}" alt="Image doesn't work">
    {% if table %}
        {{table}}
    {% endif %}
{% endif %}
{% endblock body%}
