{% extends 'layout.html' %}

{% block body %}

<h1> Rayleigh Form Factor </h1> 
  <form method = "POST" action = "">
     <fieldset class = "form-group">
        <div class = "form-group">
           {{ form.int_z.label }} :
           {% if int_z %} 
                <input type = "text" name = "int_z" value = {{ int_z }}> <br>
           {% else %}
                <input type = "text" name = "int_z"> <br>
           {% endif %}
                <input type = "submit" value = "Submit"><br>
        </div>
     </fieldset>
  </form>

<h2> Result: </h2>
{% if rayl_ff %}
{{ rayl_ff }}
{% endif %}

{% if error %}
{{error}}
{% endif %}
{% endblock body%}
