<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">xraylib</a>
            <button
                type="button" 
                class="navbar-toggle" 
                data-toggle="collapse" 
                data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">
                    Home </a>
                </li>
                <li><a href="/about">
                    About </a>
                <li><a href="/plot">
                    Plot </a>
            </ul>   
            <div class="navbar-form navbar-right" action="">
            <a href="https://www.diamond.ac.uk">
                <img alt="Diamond" 
                src="{{url_for('static', filename='Diamond_logo.png')}}" 
                width="120px">
            </a>  
            </div>
        </div>
    </div>
</nav>
