 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Flask App</a>
          <button
                type="button" 
                class="navbar-toggle" 
                data-toggle="collapse" 
                data-target="#myNavbar">
                </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a
                href="/">
                Home
                </a>
          </li>
          <li><a
                href="/about">
                About
                </a>
          </li>
          <li><a
                href="/plot">
                Plot
                </a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" action="">
          <div class="form-group">        
          <input
                class="form-control" 
                type="text" 
                placeholder="Search" 
                label="Search">
          </div>
          <button
                class="btn btn-outline-success" 
                type="submit">
                Submit
                </button>
        </form>
      </div>
     </nav>
